@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

a {
  text-decoration: none;
}

body {
  background-image: url(../images/936813.png);
}

main {
  position: relative;
  /* border: 2px red solid; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card {
  margin-top: 50px;
  position: relative;
  width: 80%;
  height: 60%;
}

.search-window {
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: rgba(39, 39, 39, 0.164);
  position: relative;
  width: 90%;
  height: 70px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Search-div input {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 25px;
  border: 0;
}

#submit-btn {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px 10px;
  text-decoration: none;
  border: 0;
  font-weight: bold;
  border-radius: 8px;
  color: #9bcb71;
  background: #00afc7;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#submit-btn:hover {
  -webkit-box-shadow: 1px 1px 2px #b5fd4a, 0 0 1em #b0fd3c, 0 0 0.2em #a7ff24;
  -moz-box-shadow: 1px 1px 2px #b5fd4a, 0 0 1em #b0fd3c, 0 0 0.2em #a7ff24;
  box-shadow: 1px 1px 2px #b5fd4a, 0 0 1em #b0fd3c, 0 0 0.2em #a7ff24;
}

.remove-outline {
  outline: none;
}

.Checkbox-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  position: relative;
  border-radius: 15px;
}
.carousel-item {
  height: 100%;
  position: relative;
}

.outcard-container {
  background-color: rgba(46, 46, 46, 0.836);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  height: 100%;
  border-radius: 15px;
}

.img-container {
  position: relative;
  height: 50%;
  text-align: center;
  padding-top: 10px;
}

.img-container img {
  height: 100%;
}

.text-container {
  /* border: 1px solid greenyellow; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 50%;
  width: 90%;
  color: white;
}

.text-container h3 {
  font-size: 15px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

@media screen and (min-width: 480px) {
  .img-container img {
    height: 110%;
  }
  .text-container {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .main-card {
    width: 90%;
  }

  .outcard-container {
    flex-direction: row;
  }
  .img-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .img-container img {
    /* margin: auto; */
    height: 75%;
    padding-left: 60px;
  }
  .text-container {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
  }
  .text-container h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .Search-div input {
    font-size: 20px;
  }
  #submit-btn {
    font-size: 20px;
  }
  .img-container img {
    padding-left: 70px;
  }
  .text-container h3 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .text-container {
    padding: 0;
  }

  .img-container {
    align-items: center;
    justify-content: center;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-size: 200%;
  }
}

@media screen and (min-width: 1700px) {
  .main-card {
    width: 60%;
  }
}
