@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

a {
  text-decoration: none;
}

body {
  background-image: url(../images/936813.png);
}

main {
  position: relative;
  /* border: 2px red solid; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card {
  margin-top: 50px;
  position: relative;
  width: 60%;
  height: 60%;
}

.search-window {
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.164);
  position: relative;
  width: 70%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Search-div input {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 25px;
  border: 0;
}

#submit-btn {
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  border: 0;
  font-weight: bold;
  border-radius: 20px;
  color: #9bcb71;
  background: #00afc7;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#submit-btn:hover {
  -webkit-box-shadow: 0 0 10px 7px #9bcb71;
  -moz-box-shadow: 0 0 10px 7px #9bcb71;
  box-shadow: 0 0 10px 7px #9bcb71;
}

.remove-outline {
  outline: none;
}

.Checkbox-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  position: relative;
  border-radius: 15px;
}
.carousel-item {
  height: 100%;
  position: relative;
}

.outcard-container {
  background-color: rgba(46, 46, 46, 0.836);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  border-radius: 15px;
}

.img-container img {
  height: 100%;
}

.text-container {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
  color: red !important;
}
