@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-image: url(../images/rick-and-morty-wallpaper.jpg);

  /* background-color: grey; */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* Header */
header {
  /* border: 1px white solid; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.164);
}

header h1 {
  font-size: 50px;
}
.buttons {
  margin: 10px 0;
}
.buttons a {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #9bcb71;
  background: #00afc7;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.buttons a:hover {
  -webkit-box-shadow: 0 0 10px 7px #9bcb71;
  -moz-box-shadow: 0 0 10px 7px #9bcb71;
  box-shadow: 0 0 10px 7px #9bcb71;
}
/* End Header */
