@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-image: url(../images/rick-and-morty-wallpaper.jpg);

  /* background-color: grey; */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* Header */
header {
  /* border: 1px white solid; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.164);
}

header h1 {
  font-size: 50px;
}
.buttons {
  margin: 10px 0;
}
.buttons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  border: 1px solid;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.5s ease background-color;
  transition-property: color background-color;
}

.buttons a:hover {
  background-color: #97ce4c;
  border-color: #01a3a3;
  color: #01a3a3;
}
/* End Header */
