@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: url(images/rick-and-morty-wallpaper.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Header */
header {
  /* border: 1px white solid; */
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: center;
  font-size: 30px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.164);
}
/* End Header */

/* Main */

main {
  position: relative;
  /* border: 2px red solid; */
  height: 90vh;
  display: flex;
  justify-content: center;
}

.card-window {
  /* border: 1px white solid; */
  width: 90%;
  height: 85%;
  align-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.13);
}

.card {
  height: 430px;
  width: 300px;
  display: block;
  position: absolute;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
}
.card img {
  margin-top: 40px;
}

.card .text {
  background-color: teal;
}
.card-one {
  top: 0;
  left: 0;
}
.card-two {
  top: 0;
}
.card-three {
  top: 0;
  right: 0;
}
.card-four {
  bottom: 0;
  left: 0;
}
.card-five {
  bottom: 0;
}
.card-six {
  bottom: 0;
  right: 0;
} /* End Main */
