@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
 font-family: 'Quicksand', sans-serif;
 background: #f4f9f9;
}

header{
 /* border: 1px solid black; */
 background: #ccf2f4;
}

nav h1{
 text-align: center;
}

.nav-buttons{
 display: flex;
 flex-direction: row;
 justify-content: center;

}
.nav-buttons a{
 padding: 5px 30px;
 margin: 0px 10px;
 border: 1px solid black;
 text-decoration: none;
 color: black;
 
}
main{
 /* border: 1px solid green; */
 
 margin-top: 100px;
}

.info-box{
 margin: 50px 0px;
 border: 1px solid black;
 background: #aaaaaa;
}


